/_site/
/.bundle/
/.jekyll-cache/
/.sass-cache/
/.vendor/
/node_modules/
/assets/css/*.map
/assets/css/style.css
/assets/css/style.min.css
/assets/js/*.map
/assets/js/scripts.min.js
.jekyll-metadata
Gemfile.lock
package-lock.json
*.code-workspace
*.diff
*.log
