{%-for language in site.data.locale-%}
	{%-if language[0] == page.lang-%}
		{%-assign current_locale_dir = language[1]-%}
		{%-break-%}
	{%-endif-%}
{%-endfor-%}
{%-assign default_locale = site.locale.default-%}
{%-if page.lang == default_locale-%}
    {%-assign page_path_prefix = "/"-%}
{%-else-%}
    {%-assign page_path_prefix = '/' | append: page.lang | append: '/'-%}
{%-endif-%}
{%-assign t = current_locale_dir.translation-%}
{%-assign posts = site.posts | where:"lang", page.lang-%}
{%-for post in posts limit:5-%}
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

<p>{{ t.posted_on }}<time datetime="{{ post.date | datetime | date_to_xmlschema }}"
	{%-if updated-%}data-updated="true"{%-endif-%}>
	{{ post.date | date: page.date_fmt }}</time>
	{% if post.author %}{{ t.posted_by }}{{ post.author }}{% endif %}
</p>

{{ post.content }}

	{%-if post.comments and site.disqus_shortname-%}
<p><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id | escape }}">{{ t.comments }}</a></p>
	{%-endif-%}
{%-endfor-%}

<p class="text-center" style="margin-top: 2em;">
	<a class="btn btn-lg btn-default" href="{{ page_path_prefix }}news/archive/"><i class="fa fa-calendar fa-fw"></i>{{ t.news_archive }}</a>
</p>
