{%-for language in site.data.locale-%}
	{%-if language[0] == page.lang-%}
		{%-assign current_locale_dir = language[1]-%}
		{%-break-%}
	{%-endif-%}
{%-endfor-%}
{%-assign t = current_locale_dir.translation-%}

<table class="table table-striped">
	<caption>{{ t.archive_caption }}</caption>
	<thead>
		<tr>
			<th>{{ t.archive_header_post }}</th>
			<th>{{ t.archive_header_date }}</th>
			<th>{{ t.archive_header_author }}</th>
		</tr>
	</thead>
	<tbody>
{%-assign posts = site.posts | where:"lang", page.lang-%}
{% for post in posts %}
		<tr>
			<td><a href="{{ post.url }}">{{ post.title | escape }}</a></td>
			<td><time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate{% if updated %}
				data-updated="true"{% endif %}>{{ post.date | date: page.date_fmt }}</time></td>
			<td>{{ post.author }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
