{%-set instruments_url = "/" %}
{%-for category in sfz_instruments_macros %}
	{%-set page_name = page.file.url | replace('/', '') %}
	{%-if page_name == category.page  %}
<h1><a href="{{ instruments_url }}">Instruments</a> | {{ category.name }}</h1>
<table class="table table-sm table-bordered table-hover table-striped table-responsive-xl"
	id="table-instruments"
	data-toggle="table"
	data-filter-control="true">
	<thead class="thead-dark">
		<tr>
			<th data-field="name"    data-sortable="true">Name</th>
			<th data-field="author"  data-sortable="true" data-filter-control="select">Author</th>
			<th data-field="license" data-sortable="true" data-filter-control="select">License</th>
			<th>Version</th>
			<th>Description</th>
			<th>Download Size</th>
		</tr>
	</thead>
	<tbody>
		{%-set instruments = category.instruments | sort(attribute="name") %}
		{%-for instrument in instruments %}
			{%-if instrument.page %}
				{%-set instrument_page = instruments_url + category.page + '/' + instrument.page %}
			{%-else %}
				{%-set instrument_page = instrument.url %}
			{%-endif %}

			{%- set author = sfz_authors_macros|selectattr("name", "equalto", instrument.author) | list | first %}
			{%- if author and author.name == instrument.author %}
				{%-set instrument_author = '<a href="' + author.url + '">' + author.name + '</a>' %}
			{%-else %}
				{%-set instrument_author = instrument.author %}
			{%-endif %}

			{%-set instrument_license = '' %}
			{%-if instrument.license %}
				{%-set instrument_license = instrument.license %}
			{%-endif %}

			{%-set instrument_version = '' %}
			{%-if instrument.version %}
				{%-set instrument_version = instrument.version %}
			{%-endif %}

			{%-set instrument_description = '' %}
			{%-if instrument.short_description %}
				{%-set instrument_description = instrument.short_description %}
			{%-endif %}

			{%-set instrument_download_size = '' %}
			{%-if instrument.download_size %}
				{%-set instrument_download_size = instrument.download_size %}
			{%-endif %}
	<tr>
		<td><a href="{{ instrument_page}}">{{ instrument.name }}</a></td>
		<td>{{ instrument_author }}</td>
		<td>{{ instrument_license }}</td>
		<td>{{ instrument_version }}</td>
		<td>{{ instrument_description }}</td>
		<td>{{ instrument_download_size }}</td>
	</tr>
		{%-endfor %}
	</tbody>
</table>
	{%-endif %}
{%-endfor %}
