		<meta charset="utf-8">

		<title>
		{% if page and page.title and not page.is_homepage %}
		{{ page.title }} -
		{% endif %}
		{{ config.site_name }}
		</title>

		{#- Meta #}
		{%-if config.site_author %}
		<meta name="author" content="{{ config.site_author }}">
		{%-endif %}
		{%-if config.extra.site_web_author %}
		<meta name="web-author" content="{{ config.extra.site_web_author }}">
		{%-endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{#- Lib scripts #}
		<script src="{{ 'assets/js/color-modes.js'|url }}"></script>

		{#- Atom Feeds #}
		<link href="{{ 'atom.xml'|url }}" rel="alternate" title="News" type="application/atom+xml" />

		{% include "partials/favicons.j2" %}

		{#- Stylesheets #}
		<link href="{{ 'assets/css/style.min.css'|url }}" rel="stylesheet" media="screen">

		{%-for style in extra_css %}
		<link href="{{ style|url }}" rel="stylesheet">
		{%-endfor %}

		{%-for style in page.meta.styles %}
		<link href="{{ 'assets/css/' + style + '.css'|url }}" rel="stylesheet">
		{%-endfor %}

{% include "partials/custom-styles.html" %}
