$blue: #337ab7;
$navbar-dark-color: rgba(#fff, .75);
$navbar-dark-hover-color: #fff;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "syntax-highlight";
/*
pre {
	padding: 0.5rem 0.75rem;
	border: 2px solid rgba($black, .2);
	border-radius: 0.50rem;
}
*/
#scrollButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	padding: 6px;
	border-radius: 50%;
}
#scrollButton:hover {
	background-color: rgba(255, 255, 255, 0.8);
}
blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font-size: x-large;
  color: #555;
  text-align: center;
}
